<h1><%= @user.name %></h1>

<table>
	<tbody>
		<% @check.each do |check| %>
			<% place = Place.find(check.place_id) %>
			<tr>
				<td><%= link_to place.name, place %></td>
			  <td><%= check.comment %></td>
			</tr>
		<% end %>
	</tbody>
</table>