<div class="container">
	<p>
	  <strong>Comment:</strong>
	  <%= @check.comment %>
	</p>

	<p>
	  <strong>Guide:</strong>
	  <%= @check.guide %>
	</p>

	<%= link_to 'Edit', "#" %> |
	<%= link_to 'Back', "#" %>
</div>