
<p>
  <strong>Comment:</strong>
  <%= @check.comment %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @check.guide %>
</p>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
