<h1>Editing Place</h1>

<%= render 'form' %>

<%= link_to 'Show', @place %> |
<%= link_to 'Back', places_path %>
<br /><br />
<%= link_to 'Destroy', @place, method: :delete, data: { confirm: 'Are you sure?' } %>