<% if user_signed_in? %>
  <%= link_to 'New Place', new_place_path %>
<% end %>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-10" style="background-color: #fff;">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="place-table">NAME</th>
          <th class="place-table">REGION</th>
          <th class="place-table">VISITS</th>
          <th class="place-table">FAVORITES</th>
          <th class="place-table">WISHES</th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
          <tr>
            <td>
              <%= link_to place.name, place %>
            </td>
            <td>
              <%= place.region %>
            </td>
            <td>
              Visits
            </td>
            <td>
              Favorites
            </td>
            <td>
              Wishes
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>